#menu {
    user-select: none;
    -webkit-user-drag: none;
}

#titleGroup {
    cursor: default;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

#rock {
    font-family: 'Hanalei Fill', cursive;
    font-weight: 400;
    text-shadow: 0px 2px rgb(116, 116, 116);
    -webkit-text-stroke: 1px rgb(65, 65, 65);
}

#paper {
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
    text-shadow: 0px 2px black;
}

#scissors {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 0px 2px rgb(192, 192, 192);
    -webkit-text-stroke: 1px white;
}

#btnGroup {
    background: radial-gradient(circle, rgba(241, 215, 64, 0.92) 0%, rgba(204, 127, 27, 0.92) 100%);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 3px 8px -4px black;
    cursor: pointer;
    font-family: 'Bangers', cursive;
    text-shadow: 0px 2px black;
    transition: ease-out 0.2s;
    height: 80px;
    width: 180px;
    -webkit-text-stroke: 0.5px black;
}

#btnGroup:hover {
    transform: scale(1.06);
    transition: ease-in 0.2s;
}
