#titleGroup {
    background: radial-gradient(circle, rgb(241, 215, 64) 0%, rgb(204, 127, 27) 100%);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 3px 11px -4px black;
    cursor: default;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

#rock {
    font-family: 'Hanalei Fill', cursive;
    font-weight: 400;
    margin-left: 20%;
    text-shadow: 0px 2px rgb(116, 116, 116);
    -webkit-text-stroke: 1px rgb(65, 65, 65);
}

#paper {
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
    text-shadow: 0px 2px black;
}

#scissors {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 0px 2px rgb(192, 192, 192);
    -webkit-text-stroke: 1px white;
}